body{
    background-image: url(../img/3.jpg);
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
}
.formulario {
    margin: auto;  
    padding: 0px;
    background:rgba(0, 0, 0, 0.527);
    /*esta parte aumenta el color al fondo del form*/    
    width:400px;
    margin-top: 60px;    
    margin-bottom:60px;
    height: auto;
}
.box{
    margin:auto;
    width: 100%;
    font-family:Helvetica;
    color:#fff;
    padding: 10px 40px;/*alto - ancho*/
    box-sizing: border-box;
}
.box h2{
    text-align:center;
    margin:0px 0px;/*alto - ancho*/
    font-size:30px;
    padding: 0px;
}
.box input{
    display:block;
    width:100%;
    margin-bottom:10px;/*alto - ancho*/
    padding:15px;
    background:rgba(0, 0, 0, 0.589);
    color:#fff;
    border:0;
}
.box label{
    display: block;
    width: 100%;
    padding:10px 0px;
}  
input[type="submit"]{
    margin-top: 20px;
    background: rgba(22, 106, 196, 0.651);
    color: #fff;
    border: none;
}
input[type="submit"]:hover{
    background: hsla(256, 85%, 42%, 0.733);
    cursor: pointer;
}
input:focus{
    border: 1px solid #00ff2a;/*cambia el color del borde de los campos*/
}
