body{
    background-image: url(../img/3.jpg);
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
}
.formulario {
    width:400px;
    height:700px;
    position:absolute;
    top:70px;
    left:calc(50vw - 200px);
}
.box{
    position:absolute;
    height:85%;
    width:100%;
    font-family:Helvetica;
    color:#fff;
    background:rgba(0, 0, 0, 0.418);/*esta parte aumenta el color al fondo del form*/
    padding:20px 0px;
}
.box h2{
    text-align:center;
    margin:10px 0;
    font-size:30px;
}
.box input, .box textarea{
    display:block;
    width:300px;
    margin:20px auto;
    padding:15px;
    background:rgba(0,0,0,0.5);
    color:#fff;
    border:0;
}

.box label{
    display: block;
    width: 300px;
    margin-left: 50px;
}

input[type="submit"]{
    margin-bottom: auto;
    background:rgba(0, 0, 0, 0.658);
    color: #fff;
    border: none;
}
input[type="submit"]:hover{
    background: #16083b;
    cursor: pointer;
}
input, textarea {
    margin-bottom: 20px;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
}

input:focus{
    border: 1px solid #ff00d4;/*cambia el color del borde de los campos*/
}

textarea {
    resize: vertical;
    min-height: 50px;
    max-height: 200px;
}

input[type="submit"]{
    margin-bottom: auto;
    background: #1668C4;
    color: #fff;
    border: none;
}

input[type="submit"]:hover{
    background: #4110c6;
    cursor: pointer;
}