.main{
    /*fondo*/
    margin-top: 30px;
    height: 100%;
    padding:0;
    margin:00;
    background: url("../img/1.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}
.box{
    /*controla el fondo y borde de form*/
    position:absolute;
    height:100%;
    width:100%;
    font-family:Helvetica;
    color:#fff;
    background:rgba(0, 0, 0, 0.418);/*esta parte aumenta el color al fondo del form*/
    padding:20px 0px;
}
  .box h2{
    text-align:center;
    margin:10px 0;
    font-size:30px;
  }
  .box input, .box textarea{
    display:block;
    width:300px;
    margin:20px auto;
    padding:15px;
    background:rgba(0,0,0,0.5);
    color:#fff;
    border:0;
  }
  .box label{
      display: block;
      width: 300px;
      margin-left: 50px;
  }  
  .login {
      width:400px;/*ancho de form*/
      height:800px;/*alto de form*/
      position:absolute;
      top:calc(50vh - 300px);
      left:calc(50vw - 200px);
      overflow:hidden;
  }
  .Caja{
      position:relative;
      height:100vh;
      overflow:hidden;/*permite deslizar*/
  }
  
  input[type="submit"]{
      margin-bottom: auto;
      background:rgba(0, 0, 0, 0.658);
      color: #fff;
      border: none;
  }
  input[type="submit"]:hover{
      background: #16083b;
      cursor: pointer;
  }
input:focus{
    border: 1px solid #00ff2a;/*cambia el color del borde de los campos*/
}
input[type="submit"]{
    margin-bottom: auto;
    background: #1668C4;
    color: #fff;
    border: none;
}
input[type="submit"]:hover{
    background: #4110c6;
    cursor: pointer;
}