@import url('https://fonts.googleapis.com/css?family=Indie+Flower|Open+Sans+Condensed:300|Oswald');
h2{
    font-family: 'Open Sans Condensed', sans-serif;
    font-family: 'Indie Flower', cursive;
    font-family: 'Oswald', sans-serif;
}
main{
    height: 100%;
    padding:0;
    margin:00;
    background: url("../img/12.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}
.Caja{
    position:relative;
    top: 1px;
    height:100vh;
    overflow:hidden;
}
.login {
    width:400px;
    height:400px;
    position:relative;
    top:calc(50vh - 300px);/*a media pantalla le resta*/
    left:calc(50vw - 200px);
    overflow:hidden;
}
.box{
    position:absolute;
    height:100%;
    width:100%;
    font-family:Helvetica;
    color:#ffffff;
    background:rgba(0,0,0,0.15);
    padding:30px 0px;
}
.box h2{
    text-align:center;
    margin:30px 0;
    font-size:30px;
}
.box input{
    display:block;
    width:300px;
    margin:20px auto;
    padding:15px;
    background:rgba(0,0,0,0.5);
    color:#fff;
    border:0;
}
input:focus{
    border: 1px solid #c400ff;/*cambia el color del borde de los campos*/
}
input[type="submit"]{
    margin-bottom: auto;
    background:rgba(0, 0, 0, 0.658);
    color: #fff;
    border: none;
}
input[type="submit"]:hover{
    background: #16083b;
    cursor: pointer;
}